*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    background: #dfdfdf;
}

/* footer */

footer{
    width: 100%;
    min-height: 5em;

    background-color: rgba(128, 128, 128, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.github, .linkedin, .email{
    width: 40px;
    height: 40px;
    margin-right: .1em;
}

footer div{
    margin-top: .5em;
}